*/*pagina toda*/ {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   padding-top: 20px; 
   padding-right: 100px;
   padding-left: 100px;
}
.conteudo {
    width: 107%;
    display: flex;
    justify-content: space-between;
    align-items: center;/*alinhar no centro*/
}
.caixa-texto{
    width: 600px;
}
.caixa-imagem{
    width: 2500px;
    display: flex;
    justify-content: flex-end;
    margin-top: 310px;
    
    
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: none;
    padding-right: 340px;
   
    
}
 
button {/*botão*/
    background-color: #8A2BE2;/*cor de fundo*/
    color: aliceblue;/* cor do texto*/
    border: none;/* borda*/
    padding: 10px;/*tamanho de dentro para fora*/
    border-radius: 20px;/*arredondamento da borda*/
    cursor: pointer;
    
}

h2{ /*texto*/
    font-size: 60px;/*tamanho da fonte*/
    font-weight: 500;/*grossura da fonte*/
}
span { /*para alterar partes do texto*/
    color: #8A2BE2;/*cor do texto*/
    font-size: 70px;/*tamanho da fonte*/
}
p{
    font-size: 20x;/*tamanho da fonte*/
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo{
    width: 80px; 
   
}    
.Star{
    width: 340px;
    z-index: 2;
} 
.img{
    width: 80px;
    cursor: pointer;
    transition: 1s;
}
.img:hover{
    transform: translateY(-35px);
}

#roda-pe{
    padding: 32px 0;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    /* Estilos para telas com largura máxima de 600px (por exemplo, dispositivos móveis) */
}
 


  